Repository Algorithm-SQL-Study/Algorithm-SQL-Study, pull requests merged in 2023-10, with the labels that each got.

#5 [공통 - Yebin] 17681
  programmers/17681/Yebin_17681.java
Labels: 23.10.09, Algorithm, Lv. 1, Implementation, Yebin

#8 [공통 - Yebin] 42862
  programmers/42862/Yebin_42862.java
Labels: 23.10.09, Algorithm, Lv. 1, Yebin, Greedy

#11 [개별 - Yebin] 12951
  programmers/12951/Yebin_12951.java
Labels: 23.10.09, Lv. 2, Implementation, Yebin

#12 [개별 - Yebin] 12939
  programmers/12939/Yebin_12939.java
Labels: 23.10.09, Lv. 2, Implementation, Yebin

#13 [개별 - Yebin] 70129
  programmers/70129/Yebin_70129.java
Labels: 23.10.09, Lv. 2, Implementation, Yebin

#3 [공통 - Minseon] 17681
  programmers/17681/Minseon_17681.java
Labels: 23.10.09, Algorithm, Minseon, Lv. 1, Implementation

#7 [공통 - Minseon] 42862
  programmers/42862/Minseon_42862.java
Labels: 23.10.09, Algorithm, Minseon, Lv. 1, Implementation, Greedy

#9 [개별 - Minseon] 43165
  programmers/43165/Minseon_43165.java
Labels: 23.10.09, Lv. 2, Algorithm, Minseon, DFS

#10 [개별 - Minseon] 1912
  baekjoon/1912/Minseon_1912.java
Labels: 23.10.09, Algorithm, Minseon, Sliver 2, DP

#14 [개별 - Minseon] 16401
  baekjoon/16401/Minseon_16401.java
Labels: 23.10.09, Binary Search, Algorithm, Minseon, Sliver 2

#4 [공통 - Suhwa] 17681
  .gitignore
  programmers/17681/Suhwa_17681.java
Labels: 23.10.09, Suhwa, Algorithm, Lv. 1, Implementation

#28 [개별 - Suhwa] 133027
  programmers/133027/Suhwa_133027.sql
Labels: Suhwa, SQL, JOIN, Lv. 4, 23.10.23

#29 [ 개별 - Suhwa] 144855
  programmers/144855/Suhwa_144855.sql
Labels: Suhwa, SQL, 23.10.23, Lv. 3, GROUP BY

#30 [개별 - Suhwa] 133026
  programmers/133026/Suhwa_133026.sql
Labels: Lv. 2, Suhwa, SQL, 23.10.23, GROUP BY

#33 [ 공통 - Suhwa ] 81301
  programmers/81301/Suhwa_81301.java
Labels: Suhwa, Algorithm, Lv. 1, Implementation, 23.10.23

#34 [공통 - Suhwa ] 42626
  programmers/42626/Suhwa_42626.java
Labels: Lv. 2, Suhwa, Algorithm, 23.10.23, Heap

#16 [개별 - Minseon] 82612
  programmers/82612/Minseon_82612.java
Labels: Algorithm, Minseon, Lv. 1, Implementation, 23.10.16

#17 [공통 - Minseon] 12946
  programmers/12946/Minseon_12946.java
Labels: Lv. 2, Algorithm, Minseon, 23.10.16, Brute-Force

#19 [개별 - Minseon] 87377
  programmers/87377/Minseon_87377.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, 23.10.16, Brute-Force

#21 [공통 - Minseon] 72411
  programmers/72411/Minseon_72411.java
Labels: Lv. 2, Algorithm, Minseon, DFS, 23.10.16, Hash, Backtracking

#22 [개별 - Minseon] 12977
  programmers/12977/Minseon_12977.java
Labels: Algorithm, Minseon, Lv. 1, 23.10.16, Brute-Force

#24 [공통 - Minseon] 81301
  programmers/81301/Minseon_81301.java
Labels: Algorithm, Minseon, Lv. 1, Implementation, Hash, 23.10.23

#25 [공통 - Minseon] 42626
  programmers/42626/Minseon_42626.java
Labels: Lv. 2, Algorithm, Minseon, 23.10.23, Heap

#27 [개별 - Minseon] 42839
  programmers/42839/Minseon_42839.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force, 23.10.23
