Repository Algorithm-SQL-Study/Algorithm-SQL-Study, pull requests merged in 2023-11, with the labels that each got.

#18 [공통 - Yebin] 12946
  programmers/12946/Yebin_12946.java
Labels: Lv. 2, Implementation, Yebin, 23.10.16

#20 [공통 - Yebin] 72411
  programmers/72411/Yebin_72411.java
Labels: Lv. 2, Algorithm, Yebin, 23.10.16, Brute-Force

#35 [공통 - Suhwa] 42613
  programmers/43163/Suhwa_43163.java
Labels: Suhwa, Algorithm, Lv. 3, 23.10.30, BFS

#38 [공통 - Suhwa] 17680
  programmers/17680/Suhwa_17680.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation, 23.10.30, LRU(Cache Algorithm)

#39 [개별 - Suhwa] 77484
  programmers/77484/Suhwa_77484.java
Labels: Suhwa, Algorithm, Lv. 1, Implementation, 23.10.30

#42 [개별 - Suhwa] 77485
  programmers/77485/Suhwa_77485.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation, 23.10.30

#40 [ 개별 - Suhwa] 151139
  programmers/151139/Suhwa_151139.sql
Labels: Suhwa, SQL, Lv. 3, GROUP BY, 23.10.30

#36 [공통 - Minseon] 43163
  programmers/43163/Minseon_43163.java
Labels: Algorithm, Minseon, DFS, Lv. 3, 23.10.30

#46 [개별 - Minseon] 12939
  programmers/12939/Minseon_12939.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, 23.10.30

#47 [개별 - Minseon] 12911
  programmers/12911/Minseon_12911.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force, 23.10.30

#48 [개별 - Minseon] 132267
  programmers/132267/Minseon_132267.java
Labels: Algorithm, Minseon, Lv. 1, Implementation, 23.10.30

#49 [공통 - Minseon] 17680
  programmers/17680/Minseon_17680.java
Labels: Lv. 2, Algorithm, Minseon, 23.10.30, LRU(Cache Algorithm)

#37 [공통 - Yebin] 43163
  programmers/43163/Yebin_43163.java
Labels: Algorithm, Yebin, Lv. 3, 23.10.30, BFS

#41 [공통 - Yebin] 17680
  programmers/17680/Yebin_17680.java
Labels: Lv. 2, Yebin, 23.10.30, LRU(Cache Algorithm)

#43 [개별 - Yebin] 12973
  programmers/12973/Yebin_12973.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, 23.10.30

#44 [개별 - Yebin] 42842
  programmers/42842/Yebin_42842.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, 23.10.30

#45 [개별 - Yebin] 12981
  programmers/12981/Yebin_12981.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, 23.10.30

#50 [공통 - Minseon] 77486
  programmers/77486/Minseon_77486.java
Labels: Algorithm, Minseon, Implementation, Hash, Lv. 3

#53 [공통 - Minseon] 118667
  programmers/118667/Minseon_118667.java
Labels: Lv. 2, Algorithm, Minseon, Greedy

#56 [개별 - Minseon] 12926
  programmers/12926/Minseon_12926.java
Labels: Algorithm, Minseon, Lv. 1, Implementation

#59 [개별 - Minseon] 131701
  programmers/131701/Minseon_131701.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force

#61 [개별 - Minseon] 1844
  programmers/1844/Minseon_1844.java
Labels: Lv. 2, Algorithm, Minseon, BFS

#52 [공통 - Yebin] 77486
  programmers/77486/Yebin_77486.java
Labels: Algorithm, Yebin, DFS, Hash, Lv. 3

#55 [공통 - Yebin] 118667
  programmers/118667/Yebin_118667.java
Labels: Lv. 2, Algorithm, Yebin, Greedy

#57 [개별 - Yebin] 12914
  programmers/12914/Yebin_12914.java
Labels: Lv. 2, Algorithm, Yebin, DP

#58 [개별 - Yebin] 12980
  programmers/12980/Yebin_12980.java
Labels: Lv. 2, Algorithm, Yebin, Greedy

#60 [개별 - Yebin] 12985
  programmers/12985/Yebin_12985.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#54 [공통 - Suhwa] 118667
  programmers/118667/Suhwa_118667.java
Labels: Lv. 2, Suhwa, Algorithm, Greedy, Brute-Force

#31 [공통 - Suhwa] 12946
  programmers/12946/Suhwa_12946.java
Labels: Lv. 2, Suhwa, Algorithm, Recursive

#51 [공통 - Suhwa ] 77486
  programmers/77486/Suhwa_77486.java
Labels: Suhwa, Algorithm, Hash, Lv. 3, Graph

#62 [공통 - Minseon] 17677
  programmers/17677/Minseon_17677.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, Set

#63 [개별 - Minseon] 172927
  programmers/172927/Minseon_172927.java
Labels: Lv. 2, Algorithm, Minseon, Greedy

#65 [개별 - Minseon] 12914
  programmers/12914/Minseon_12914.java
Labels: Lv. 2, Algorithm, Minseon, DP

#66 [공통 - Minseon] 155651
  programmers/155651/Minseon_155651.java
Labels: Lv. 2, Algorithm, Minseon, Greedy, Hash

#68 [개별 - Minseon] 49189
  programmers/49189/Minseon_49189.java
Labels: Algorithm, Minseon, Lv. 3, BFS, Graph

#64 [공통 - Yebin] 17677
  programmers/17677/Yebin_17677.java
Labels: Lv. 2, Algorithm, Implementation, Hash, Set

#67 [공통 - Yebin] 155651
  programmers/155651/Yebin_155651.java
Labels: Lv. 2, Algorithm, Yebin, Greedy

#69 [개별 - Yebin] 12941
  programmers/12941/Yebin_12941.java
Labels: Lv. 2, Algorithm, Yebin, Greedy

#70 [개별 - Yebin] 87390
  programmers/87390/Yebin_87390.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#71 [개별 - Yebin] 64065
  programmers/64065/Yebin_64065.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#73 [공통 - Suhwa] 17684
  programmers/17684/Suhwa_17684.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation

#84 [공통 - Suhwa] 81302
  programmers/81302/Suhwa_81302.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation, Brute-Force

#72 [개별 - Minseon] 118666
  programmers/118666/Minseon_118666.java
Labels: Algorithm, Minseon, Lv. 1, Hash

#74 [공통 - Minseon] 17684
  programmers/17684/Minseon_17684.java
Labels: Lv. 2, Algorithm, Minseon, Hash

#76 [개별 - Minseon] 118668
  programmers/118668/Minseon_118668.java
Labels: Algorithm, Minseon, DP, Lv. 3

#78 [공통 - Minseon] 81302
  programmers/81302/Minseon_81302.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force

#75 [공통 - Yebin] 17684
  programmers/17684/Yebin_17684.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#77 [개별 - Yebin] 87946
  programmers/87946/Yebin_87946.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, Recursive

#79 [공통 - Yebin] 81302
  programmers/81302/Yebin_81302.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, Brute-Force

#82 [개별 - Yebin] 42586
  programmers/42586/Yebin_42586.java
Labels: Lv. 2, Algorithm, Implementation, Yebin
