Repository Algorithm-SQL-Study/Algorithm-SQL-Study, pull requests merged in 2023-12, with the labels that each got.

#83 [개별 - Minseon] 60058
  programmers/60058/Minseon_60058.java
Labels: Lv. 2, Algorithm, Minseon, Recursive, Stack

#86 [공통 - Minseon] 92341
  programmers/92341/Minseon_92341.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, Hash

#88 [개별 - Minseon] 43236
  programmers/43236/Minseon_43236.java
Labels: Binary Search, Algorithm, Minseon, Lv. 4

#91 [공통 - Minseon] 154538
  programmers/154538/Minseon_154538.java
Labels: Lv. 2, Algorithm, Minseon, DP, BFS

#92 [개별 - Minseon] 2447
  baekjoon/2447/Minseon_2447.java
Labels: Algorithm, Minseon, Recursive, gold 5

#85 [공통 - Suhwa] 92341
  programmers/92341/Suhwa_92341.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation

#89 [공통 - Suhwa] 154538
  programmers/154538/Suhwa_154538.java
Labels: Lv. 2, Suhwa, Algorithm, BFS

#102 [개별 - Minseon] 68645
  programmers/68645/Minseon_68645.js
Labels: Lv. 2, Algorithm, Minseon, Implementation

#101 [공통 - Minseon] 92342
  programmers/92342/Minseon_92342.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, Brute-Force, Backtracking

#99 [개별 - Minseon] 42627
  programmers/42627/Minseon_42627.java
Labels: Algorithm, Minseon, Lv. 3, Heap

#97 [공통 - Minseon] 150368
  programmers/150368/Minseon_150368.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force, Backtracking, Recursive

#96 [개별 - Minseon] 134239
  programmers/134239/Minseon_134239.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, Mathematics

#87 [공통 - Yebin] 92341
  programmers/92341/Yebin_92341.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#90 [공통 - Yebin] 154538
  programmers/154538/Yebin_154538.java
Labels: Lv. 2, Algorithm, Yebin, DP

#93 [개별 - Yebin] 42587
  programmers/42587/Yebin_42587.java
Labels: Lv. 2, Algorithm, Implementation, Yebin

#94 [개별 - Yebin] 131127
  programmers/131127/Yebin_131127.java
Labels: Lv. 2, Algorithm, Yebin, Hash, Sliding Window

#95 [개별 - Yebin] 49993
  programmers/49993/Yebin_49993.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, Hash

#98 [공통 - Yebin] 150368
  programmers/150368/Yebin_150368.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, Recursive

#103 [개별 - Yebin] 76502
  programmers/76502/Yebin_76502.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, Stack

#104 [개별 - Yebin] 12924
  programmers/12924/Yebin_12924.java
Labels: Lv. 2, Algorithm, Yebin, DP

#106 [공통 - Yebin] 92342
  programmers/92342/Yebin_92342.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, Brute-Force, Recursive

#111 [개별 - Minseon] 42579
  programmers/42579/Minseon_42579.java
Labels: Algorithm, Minseon, Hash, Lv. 3

#112 [공통 - Minseon] 60061
  programmers/60061/Minseon_60061.java
Labels: Algorithm, Minseon, Implementation, Lv. 3

#113 [개별 - Minseon] 12907
  programmers/12907/Minseon_12907.java
Labels: Algorithm, Minseon, DP, Lv. 3

#114 [공통 - Minseon] 17687
  programmers/17687/Minseon_17687.java
Labels: Lv. 2, Algorithm, Implementation, Mathematics

#115 [개별 - Minseon] 12941
  programmers/12941/Minseon_12941.js
Labels: Lv. 2, Algorithm, Minseon, Sort

#116 [개별 - Minseon] 68936
  programmers/68936/Minseon_68936.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, Recursive, 23.12.18

#117 [개별 - Minseon] 86971
  programmers/86971/Minseon_86971.java
Labels: Lv. 2, Algorithm, Minseon, DFS, Brute-Force, 23.12.18

#118 [개별 - Minseon] 169199
  programmers/169199/Minseon_169199.java
Labels: Lv. 2, Algorithm, Minseon, BFS, 23.12.18

#119 [공통 - Minseon] 42888
  programmers/42888/Minseon_42888.java
Labels: Lv. 2, Algorithm, Minseon, Hash, 23.12.18

#121 [개별 - Minseon] 42628
  programmers/42628/Minseon_42628.java
Labels: Algorithm, Minseon, Lv. 3, Heap, 23.12.18

#120 [공통 - Yebin] 42888
  programmers/42888/Yebin_42888.java
Labels: Lv. 2, Algorithm, Yebin, Hash

#122 [개별 - Yebin] 138476
  programmers/138476/Yebin_138476.java
Labels: Lv. 2, Algorithm, Yebin, Greedy, Sort
