Repository Algorithm-SQL-Study/Algorithm-SQL-Study, pull requests merged in 2024-02, with the labels that each got.

#158 [공통 - Minseon] 72415
  programmers/72415/Minseon_72415.java
Labels: Algorithm, Minseon, Backtracking, Lv. 3, BFS

#163 [공통 - Minseon] 250135
  programmers/250135/Minseon_250135.java
Labels: Lv. 2, Algorithm, Minseon, Implementation

#162 [개별 - Minseon] 62050
  programmers/62050/Minseon_62050.java
Labels: Algorithm, Minseon, Lv. 4, Heap, BFS

#161 [공통 - Minseon] 12985
  programmers/12985/Minseon_12985.java
Labels: Lv. 2, Algorithm, Minseon, Implementation

#159 [개별 - Minseon] 49191
  programmers/49191/Minseon_49191.java
Labels: Algorithm, Minseon, Lv. 3, Graph, Floyd-Warshall

#100 [공통 - Suhwa ] 150368
  programmers/150368/Suhwa_150368.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation, Brute-Force

#107 [개별 - Suhwa] 157340
  programmers/157340/Suhwa_157340.sql
Labels: Suhwa, SQL, Lv. 3, GROUP BY

#108 [개별 - Suhwa] 164671
  programmers/164671/Suhwa_164671.sql
Labels: Suhwa, SQL, Implementation, Lv. 3

#164 [공통 - Minseon] 258711
  programmers/258711/Minseon_258711.java
Labels: Lv. 2, Algorithm, Minseon, Implementation, 24.01.29

#166 [공통 - Minseon] 181188
  programmers/181188/Minseon_181188.java
Labels: Lv. 2, Algorithm, Minseon, Greedy, Heap, 24.01.29

#170 [공통 - Minseon] 72412
  programmers/72412/Minseon_72412.java
Labels: Lv. 2, Binary Search, Algorithm, Minseon, DFS, Hash, 24.01.29

#171 [개별 - Minseon] 131130
  programmers/131130/Minseon_131130.java
Labels: Lv. 2, Algorithm, Minseon, DFS, 24.01.29

#172 [개별 - Minseon] 43164
  programmers/43164/Minseon_43164.java
Labels: Algorithm, Minseon, DFS, Hash, Lv. 3, Sort, 24.01.29

#176 [공통 - Minseon] 92344
  programmers/92344/Minseon_92344.java
Labels: Algorithm, Minseon, Lv. 3, 24.02.05, Prefix Sum
