Repository Algorithm-SQL-Study/Algorithm-SQL-Study, pull requests merged in 2024-01, with the labels that each got.

#123 [공통 - Minseon] 150369
  programmers/150369/Minseon_150369.java
Labels: Lv. 2, Algorithm, Minseon, Stack, 23.12.25

#125 [개별 - Minseon] 12929
  programmers/12929/Minseon_12929.java
Labels: Algorithm, Minseon, DP, Lv. 4, 23.12.25

#126 [개별 - Minseon] 12942
  programmers/12942/Minseon_12942.java
Labels: Algorithm, Minseon, DP, Lv. 3, Recursive, Mathematics, 23.12.25

#127 [공통 - MInseon] 42892
  programmers/42892/Minseon_42892.java
Labels: Algorithm, Minseon, Lv. 3, 23.12.25, Tree

#129 [개별 - Minseon] 42884
  programmers/42884/Minseon_42884.java
Labels: Algorithm, Minseon, Greedy, Lv. 3, 23.12.25

#124 [공통 - Yebin] 150369
  programmers/150369/Yebin_150369.java
Labels: Lv. 2, Algorithm, Yebin, Greedy, Stack

#128 [공통 - Yebin] 42892
  programmers/42892/Yebin_42892.java
Labels: Algorithm, Yebin, Lv. 3, Sort, Tree

#130 [개별 - Yebin] 1225
  swea/1225/Yebin_1225.java
Labels: Algorithm, Implementation, Yebin, D3

#131 [개별 - Yebin] 1206
  swea/1206/Yebin_1206.java
Labels: Algorithm, Implementation, Yebin, D3

#132 [개별 - Yebin] 1220
  swea/1220/Yebin_ 1220.java
Labels: Algorithm, Implementation, Yebin, D3

#133 [공통 - Minseon] 42890
  programmers/42890/Minseon_42890.java
Labels: Lv. 2, Algorithm, Minseon, Brute-Force, Recursive, Set, 24.01.01

#134 [개별 - Minseon] 68646
  programmers/68646/Minseon_68646.java
Labels: Algorithm, Minseon, Implementation, DP, Lv. 3, 24.01.01

#135 [공통 - Minseon] 17678
  programmers/17678/Minseon_17678.java
Labels: Algorithm, Minseon, Implementation, Lv. 3, 24.01.01

#136 [개별 - Minseon] 12938
  programmers/12938/Minseon_12938.java
Labels: Algorithm, Minseon, Greedy, Lv. 3, 24.01.01

#137 [개별 - Minseon] 86053
  programmers/86053/Minseon_86053.java
Labels: Binary Search, Algorithm, Minseon, Lv. 3, 24.01.01

#138 [공통 - Yebin] 42890
  programmers/42890/Yebin_42890.java
Labels: Lv. 2, Algorithm, Yebin, DFS, Brute-Force

#139 [공통 - Yebin] 17678
  programmers/17678/Yebin_17678.java
Labels: Algorithm, Yebin, Brute-Force, Lv. 3

#140 [개별 - Yebin] 77885
  programmers/77885/Yebin_77885.java
Labels: Lv. 2, Algorithm, Yebin, BitMasking

#141 [개별 - Yebin] 68936
  programmers/68936/Yebin_68936.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, Recursive

#142 [개별 - Yebin] 92335
  programmers/92335/Yebin_92335.java
Labels: Lv. 2, Algorithm, Yebin, Brute-Force, Mathematics

#144 [공통 - Minseon] 42861
  programmers/42861/Minseon_42861.java
Labels: Algorithm, Minseon, Lv. 3, Graph, 24.01.08, Union-Find, Kruskal

#145 [공통 - Minseon] 250136
  programmers/250136/Minseon_250136.java
Labels: Lv. 2, Algorithm, Minseon, Hash, BFS, Graph, Set, 24.01.08

#146 [개별 - Minseon] 12987
  programmers/12987/Minseon_12987.java
Labels: Algorithm, Minseon, Greedy, Lv. 3, 24.01.08

#147 [개별 - Minseon] 49995
  programmers/49995/Minseon_49995.java
Labels: Algorithm, Minseon, Implementation, Lv. 4, 24.01.08, TwoPointer

#148 [공통 - Minseon] 12973
  programmers/12973/Minseon_12973.java
Labels: Lv. 2, Algorithm, Minseon, Stack, 24.01.08

#143 [공통 - Yebin] 42861
  programmers/42861/Yebin_42861.java
Labels: Algorithm, Yebin, Lv. 3, Tree, Union-Find, Kruskal

#149 [공통 - Yebin] 250136
  programmers/250136/Yebin_250136.java
Labels: Lv. 2, Algorithm, Yebin, DFS, Recursive, Stack

#150 [개별 - Yebin] 17687
  programmers/17687/Yebin_17687.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, Queue

#151 [개별 - Yebin] 17686
  programmers/17686/Yebin_17686.java
Labels: Lv. 2, Algorithm, Implementation, Yebin, Sort

#152 [개별 - Yebin] 86971
  programmers/86971/Yebin_86971.java
Labels: Lv. 2, Algorithm, Yebin, DFS, Brute-Force, Stack

#110 [공통 - Suhwa] 92342
  programmers/92342/Suhwa_92342.java
Labels: Lv. 2, Suhwa, Algorithm, Implementation, Brute-Force, Backtracking

#109 [개별 - Suhwa] 164670
  programmers/164670/Suhwa_164670.sql
Labels: Suhwa, SQL, Implementation, Lv. 3

#153 [공통 - Minseon] 64064
  programmers/64064/Minseon_64064.java
Labels: Algorithm, Minseon, DFS, Lv. 3

#154 [개별 - Minseon] 42895
  programmers/42895/Minseon_42895.java
Labels: Algorithm, Minseon, DP, Lv. 3

#155 [공통 - Minseon] 62048
  programmers/62048/Minseon_62048.java
Labels: Lv. 2, Algorithm, Minseon, Mathematics

#156 [개별 - Minseon] 1843
  programmers/1843/Minseon_1843.java
Labels: Algorithm, Minseon, DP, Lv. 4

#157 [공통 - Minseon] 12978
  programmers/12978/Minseon_12978.java
Labels: Lv. 2, Algorithm, Minseon, Graph, Floyd-Warshall
